:root {
  --heading-font-family: "Bodoni Moda", serif;
  --body-font-family: "Kantumruy Pro", sans-serif;
  --color-option-1: #de8235;
  --color-option-2: #8facca;
  --color-option-3: #89a6c6;
  --color-option-4: #2e3348;
  --color-option-5: #f7a701;
}
ul {
  font-family: var(--body-font-family);
  font-size: 21px;
}
h1 {
  font-size: 90px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  font-style: italic;
  font-weight: 600;
}
h2,
h3 {
  font-size: 25px;
  font-family: var(--body-font-family);
}
p {
  font-family: var(--body-font-family);
  text-align: center;
}
img {
  border: 15px solid rgb(255, 190, 71, 0.7);
  border-radius: 10px;
}
.hero {
  background-color: var(--color-option-4);
  text-align: center;
  padding: 250px 30px;
  color: var(--color-option-1);
}
.content-container {
  padding: 136px 30px;
}
.content h1 {
  font-size: 70px;
  color: var(--color-option-4);
}
.content h2 {
  font-size: 38px;
  color: var(--color-option-1);
  padding: 30px 0;
}

.bg-light {
  background-color: var(--color-option-3) !important;
}
.sub-heading {
  font-size: 38px;
  text-align: center;
  padding: 50px 0;
  font-family: var(--body-font-family);
  color: #de8235;
}
.btn-outline-warning {
  --bs-btn-colour: var(--color-option-5) !important;
  --bs-btn-hover-color: var(--bs-white);
}
.btn-warning {
  --bs-btn-bg: var(--color-option-5);
  --bs-btn-color: #fff;
  --bs-btn-hover-bg: #fff !important;
  --bs-btn-hover-border-color: var(--color-option-1);
  --bs-btn-hover-color: var(--color-option-1);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-font-weight: 400;
}
.project-name {
  font-size: 28px;
  color: var(--color-option-4);
}

.project-description {
  padding: 29px 30px;
}
.navbar-brand {
  font-family: var(--heading-font-family);
  font-size: 30px;
}
.tools {
  font-size: 24px;
  color: var(--color-option-1);
}
.links {
  text-decoration: none;
  color: #2e3348;
}
.links:hover {
  font-size: 20px;
  font-weight: 600;
}
.contact-heading {
  -webkit-text-stroke: 1px var(--color-option-1);
}
.contact-section {
  display: flex;
  justify-content: center;
}

.network {
  font-size: 80px;
  color: var(--color-option-1);
  margin: 30px;
}
.network:hover {
  font-size: 90px;
}
@media (max-width: 540px) {
  .content-container {
    padding: 120px 20px;
  }
  .content h1 {
    font-size: 60px;
  }
  h1 {
    font-size: 75px;
  }
  .sub-heading {
    padding: 25px 0px;
    font-size: 32px;
  }
  .project-description {
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
  }
}
