h1 {
  font-family: "Alumni Sans Pinstripe", sans-serif;
}
h2 {
  font-family: "Bodoni Moda", serif;
}
h3 {
  font-family: "Major Mono Display", monospace;
}
h4 {
  font-family: "Source Code Pro", monospace;
}
